# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ahtia\OneDrive\Dokumendid\Ülikool\Objektorienteeritud programmeerimine\OOP_Rühmatöö\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
